body {
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
  font-family: "Special Elite", cursive;

  /* background: url(./background.jpg); */
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container .inner {
  margin: 0 auto;
  align-self: center;
  padding: 16px 32px;
  text-align: left;
}

.lifes {
  margin: 16px;
}

h1 {
  margin-top: 0;
}

.answer__form label {
  font-size: 22px;
}
.answer__form input[type="number"] {
  padding: 16px;
  font-size: 64px;
  text-align: center;
  width: 200px;
  border: none;
  border-bottom: 2px dashed #000;
  font-family: "Special Elite", cursive;
}

.answer__form input[type="submit"] {
  background-color: #000;
  color: #fff;
  font-family: "Special Elite", cursive;
  border: 2px dashed #000;
  padding: 24px 16px;
  font-size: 32px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  margin-left: 16px;
}

.answer__form input[type="submit"]:hover {
  background-color: #222;
}

.answer__form input[type="number"]:hover,
.answer__form input[type="number"]:focus,
.answer__form input[type="number"]:active {
  outline: none;
}

.answer {
  font-size: 32px;
  padding-top: 32px;
}
