body {
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
  font-family: "Special Elite", cursive;

  /* background: url(./background.jpg); */
  background-size: cover;
  background-position: center;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container .inner {
  margin: 0 auto;
  align-self: center;
  padding: 16px 32px;
  text-align: left;
}

.game {
  margin: 32px 0;
  text-align: center;
}

.lifes {
  margin: 16px;
}

h1 {
  margin-top: 0;
}

.answer__form label {
  font-size: 22px;
}
.answer__form input[type="number"] {
  padding: 16px;
  font-size: 55px;
  text-align: center;
  width: 250px;
  border: none;
  border-bottom: 2px dashed #000;
  font-family: "Special Elite", cursive;
}

.btn {
  background-color: #000;
  color: #fff;
  font-family: "Special Elite", cursive;
  border: 2px dashed #000;
  cursor: pointer;
  transition: all 350ms ease-in-out;
  margin-left: 16px;
  text-decoration: none;
  font-size: 24px;
  padding: 16px 12px;
}
.btn.btn-big {
  padding: 24px 16px;
  font-size: 32px;
}

.btn:hover {
  background-color: #222;
}

.answer__form input[type="number"]:hover,
.answer__form input[type="number"]:focus,
.answer__form input[type="number"]:active {
  outline: none;
}

.answer {
  font-size: 32px;
  padding-top: 32px;
}

.new-game-container {
  margin: 32px 0;
  text-align: center;
  margin-top: 128px;
}

.life.life-off {
  opacity: 0.4;
}
